/*body{
	margin: auto;
	max-width: 100%;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:0 10px;
}*/

h1, h2, h3{
	line-height:1.2
}

#q-results li {
	color: #006fff;
	cursor: pointer;
	text-decoration: underline;
}
.background-color {
	background-color: #50C579;
	text-align: center;
	font-family: 'Audiowide', cursive;
    

}
.container-full {
	margin: 0 auto;
	width: 100%;
}